body
{
    background: greenyellow;
    color: deeppink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
button
{
    background: rebeccapurple;
    border-radius: 10px;
    border: inherit;
}